<%= form_with model: [@category, @entry], local: true do |f| %>
    <!-- ^ defines the path for new entries -->
    
    <h1>Tara-Task</h1>
    <h2>New Entry</h2>
    
        <p>
            <% if @entry.errors.any? %>
                <ul>
                    <% @entry.errors.full_messages.each do |message| %>
                        <li>
                            <%= message %>
                        </li>
                    <% end %>    
                </ul> 
            <% end %>
        </p>
    
        <p>
            <%= f.label :name %>
            <%= f.text_field :name %>
        </p>

        <p>
            <%= f.label :details %>
            <%= f.text_field :details %>
        </p>
    
        <p>
            <%= f.submit %>
        </p>
    <% end %>
    
    <%= link_to 'Back to Entries', category_entries_path %>