<%= form_with model: @category, local: true do |f| %>
    <!-- ^ defines the path for editing articles -->

    <h1>Taka-Task</h1>
    <h2>Edit Category</h2>

        <p>
            <% if @category.errors.any? %>
                <ul>
                    <% @category.errors.full_messages.each do |message| %>
                        <li>
                            <%= message %>
                        </li>
                    <% end %>    
                </ul> 
            <% end %>
        </p>
    <!-- ^ puts error checking -->
    
        <p class='input_field' id='input_name'>
            <%= f.label :name %>
            <%= f.text_field :name %>
        </p>

        <p>
            <%= f.label :description %>
            <%= f.text_field :description %>
        </p>
    
        <p>
            <%= f.submit %>
        </p>
    <% end %>
    
    <%= link_to 'Delete?', method: :destroy %>
    <%= link_to 'Back to Categories', categories_path %>
